h1{color:#4868a4ec;
    align-items: center;
    background-color: #b5a029aa;
    margin: 50px;
    padding: 10px;
    border-color: aqua ;
    
    border-radius: 30px;
}
form{
    background-color:rgba(225, 171, 54, 0.781) ;
    border-radius: 10px;
    border: 5px solid;
    padding: 100px;
}
button{
    font-size: larger;
}
